/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


/* global CSS variables */
:root {
  --color-purple-500: 111, 75, 213;
  --color-purple-100: 226, 219, 247;
  --color-green-100: 215, 246, 230;
  --color-green-500: 42, 133, 86;
  --color-red-500: 217, 53, 29;
  --color-orange-100: 251, 240, 233;
  --color-orange-500: 215, 104, 25;
  --color-gray-100: 230, 230, 230;
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;
  --spacing-half: .5rem;
  --spacing-one: 1rem;
  --spacing-two: 1.5rem;
  --spacing-three: 2rem;
  --spacing-four: 2.5rem;
}

/* General */

html {
  font-size: 16px;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.button {
  font-size: 1rem;
  line-height: 1.3;
  font-family:'Roboto', sans-serif;
  font-weight: 500;
  color: rgba(var(--color-purple-500));
  border: 2px solid rgba(var(--color-purple-500));
  border-radius: 20px;
  padding: 8px 16px 8px 16px;
  margin-right: var(--spacing-half);
}

.reverse-button {
  font-size: 1rem;
  line-height: 1.3;
  font-family:'Roboto', sans-serif;
  font-weight: 500;
  color: rgba(var(--color-white));
  border: 2px solid rgba(var(--color-white));
  border-radius: 20px;
  padding: 8px 16px 8px 16px;
  margin-right: 0px;
}

.reverse-button a:hover {
  background-color: rgba(var(--color-white));
  color: rgba(var(--color-purple-500));
}

.reverse-button:hover {
  background-color: rgba(var(--color-white));
}

.button:hover {
  background-color: rgba(var(--color-purple-100));
}

.button:focus, .primary-button:focus {
  outline: 2px dotted rgba(var(--color-purple-500));
}

.button svg, .primary-button svg {
  vertical-align: middle;
  margin-bottom: 4px;
  margin-top: 1px;
}

button {
  background-color: rgba(var(--color-white));
  text-align: left;
}

.primary-button {
  font-size: 1rem;
  line-height: 1.3;
  font-family:'Roboto', sans-serif;
  font-weight: 500;
  color: rgba(var(--color-white));
  background-color: rgba(var(--color-purple-500));
  border: 2px solid rgba(var(--color-purple-500));
  border-radius: 20px;
  padding: 8px 16px 8px 16px;
  margin-right: var(--spacing-one);
}

.primary-button:hover {
  opacity: .9;
}

.inline-images {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: var(--spacing-two);
}

.inline-images img {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

ol li {
  padding-bottom: var(--spacing-half);
  padding-top: var(--spacing-half);
}



/* Top navigation */

.page-header {
  background-color: rgba(var(--color-purple-500));
  padding: var(--spacing-one);
}

.main-nav {
  display: grid;
  grid-template-columns: 60% 40%;
}

.main-nav a:focus {
  outline: 2px dotted rgba(var(--color-white));
}

.main-nav ul {
  list-style-type: none;
  float: right;
}

.main-nav ul li {
  display: inline-block;
  margin-right: var(--spacing-one);
}

.main-nav ul li a {
  font-size: 1.125rem;
  font-family: 'Bellota Text', cursive;
  font-variant-ligatures: no-common-ligatures;
  font-weight: 700;
  color: rgba(var(--color-white));
  text-decoration: none;
}

.main-nav ul li a:hover{
  border-bottom: 1px solid rgba(var(--color-white));
}

.main-nav ul li a:focus{
  outline: 2px dotted rgba(var(--color-white));
}

.main-nav img {
  width: 375px;
  padding-top: 8px;
}


/* page transitions */
@keyframes transitionIn {
  from {
    opacity:0;
    transform: rotateX(-15deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

section {
  animation: transitionIn 0.75s;
}

.modal {
  animation: transitionIn 0.25s;
}


/* homepage and references layout */

.references {
  width: 50vw;
  margin: 0 auto;
  padding-top: var(--spacing-three);
  padding-bottom: var(--spacing-four);
}

.welcome {
  width: 32vw;
  margin: 0 auto;
  padding-top: var(--spacing-three);
  padding-bottom: var(--spacing-four);
}

.welcome img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.references ul li {
  padding-bottom: var(--spacing-half);
  padding-top: var(--spacing-half);
  list-style-type: none;
}

/* Typography */

h1, .h1 {
  font-size: 2.5rem;
  line-height: 1.4;
  font-family: 'Bellota Text', cursive;
  font-variant-ligatures: no-common-ligatures;
  font-weight: 700;
  color: rgba(var(--color-purple-500));
}

h2, .h2 {
  font-size: 2rem;
  line-height: 1.4;
  font-family: 'Bellota Text', cursive;
  font-variant-ligatures: no-common-ligatures;
  font-weight: 700;
  color: rgba(var(--color-purple-500));
}

h3, .h3 {
  font-size: 1.75rem;
  line-height: 1.4;
  font-family: 'Bellota Text', cursive;
  font-variant-ligatures: no-common-ligatures;
  font-weight: 700;
  color: rgba(var(--color-purple-500));
}

h4, .h4 {
  font-size: 1.5rem;
  line-height: 1.4;
  font-family:'Roboto', sans-serif;
  font-weight: 500;
  color: rgba(var(--color-black));
  margin: 0px;
}

h5, .h5 {
  font-size: 1.125rem;
  line-height: 1.4;
  font-family:'Roboto', sans-serif;
  font-weight: 500;
  color: rgba(var(--color-purple-500));
  margin: 0px;
}

h6, .h6 {
  font-size: 0.87rem;
  line-height: 1.4;
  font-family:'Roboto', sans-serif;
  font-weight: 500;
  color: rgba(var(--color-black));
  margin: 0px;
}

.extra-large {
  font-size: 1.5rem;
  line-height: 1.4;
  font-family: 'Bellota Text', cursive;
  font-variant-ligatures: no-common-ligatures;
  font-weight: 700;
  color: rgba(var(--color-black));
  margin: 0px;
}

.large {
  font-size: 1.125rem;
  line-height: 1.4;
  font-family: 'Bellota Text', cursive;
  font-variant-ligatures: no-common-ligatures;
  font-weight: 400;
  color: rgba(var(--color-black));
  margin: 0px;
}

.medium {
  font-size: 1rem;
  line-height: 1.4;
  font-family:'Roboto', sans-serif;
  font-weight: 300;
  color: rgba(var(--color-black));
  margin: 0px;
}

.medium-red {
  font-size: 1rem;
  line-height: 1.4;
  font-family:'Roboto', sans-serif;
  font-weight: 300;
  color: rgba(var(--color-red-500));
  font-style: italic;
  margin: 0px;
}

.small {
  font-size: 0.87rem;
  line-height: 1.4;
  font-family:'Roboto', sans-serif;
  font-weight: 300;
  color: rgba(var(--color-black));
  margin: 0px;
}

.small-purple-header {
  font-size: 0.87rem;
  line-height: 1.4;
  font-family:'Roboto', sans-serif;
  font-weight: 500;
  color: rgba(var(--color-purple-500));
  margin: 0px;
  padding: 0px;
  margin-bottom: 4px;
}

.small-purple-text {
  font-size: 0.87rem;
  line-height: 1.4;
  font-family:'Roboto', sans-serif;
  font-weight: 300;
  color: rgba(var(--color-purple-500));
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: rgba(var(--color-purple-500));
}

.learn-link {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.learn-link a {
  color: rgba(var(--color-black));
  border-bottom: 2px solid rgba(var(--color-purple-500));
}

.learn-link a:hover {
  color: rgba(var(--color-purple-500));
}

/* homepage cards */

.card {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: rgba(var(--color-white));
  border: 1px solid rgba(var(--color-gray-100));
  border-radius: 4px;
  box-shadow: 1px 4px 8px rgba(var(--color-gray-100));
  margin-bottom: var(--spacing-two);
}

.card:hover {
  border: 1px solid rgba(var(--color-purple-500));
}

.card .col-2 {
  display:flex;
  align-items: center;
  padding-right: var(--spacing-one);
}

.card .col-1 img {
  width: 105px;
  padding-bottom: 0px;
}

/* Sidebar layout */

.character-screens {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 60vw;
  margin: 0 auto;
  padding-top: var(--spacing-three);
  padding-bottom: var(--spacing-four);
}

.scenario {
  padding-right: var(--spacing-four);
}

.scenario img {
  padding-bottom: var(--spacing-two);
}

.actions {
  padding-top: var(--spacing-two);
}

/* Accordion alerts */

.warning {
  display: grid;
  vertical-align: middle;
  grid-template-columns: 92% 8%;
  text-align:left;
  background-color: rgba(var(--color-orange-100));
  border: 1px solid rgba(var(--color-orange-500));
  padding: var(--spacing-one);
}

.warning:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Button card */

.button-card {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: var(--spacing-two);
}

.column {
  color: rgba(var(--color-purple-500));
  border: 2px solid rgba(var(--color-purple-500));
  border-radius: 4px;
  padding: var(--spacing-one);
}

.column:hover {
  background-color: rgba(var(--color-purple-100));
}

/* Progress tracker */

.sidebar ul {
  position: relative;
  list-style: disc;
  font-size: 2rem;
  line-height: 0.5;
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.sidebar ul li {
  position: relative;
  padding: var(--spacing-one);
}


.sidebar ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -23px;
  bottom: 0;
  width: 0;
  border-left: 2px solid rgba(var(--color-purple-500));
}

.sidebar ul li:first-child:before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  border-left: 2px solid rgba(var(--color-purple-500));
}


/* Modal */
.modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content{
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 32px;
  outline: 0;
  width: 450px;
}

.modal p {
  padding-bottom: var(--spacing-half);
}

/* Accordion */

.accordion-body {
  border: 1px solid rgba(var(--color-orange-500));
  margin: 0;
  padding: 0;
}

.accordion-body .small {
  margin: 0;
  padding: 16px;
}

/* Google charts */

#chart_div {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}



/* Responsive behavior */



@media only screen and (max-width: 1024px) {
  .welcome {
    width: 45vw;
    margin: 0 auto;
  }

  .main-nav img {
    width: 325px;
    padding-top: 8px;
  }

  .card {
    grid-template-columns: 30% 70%;
  }

  .character-screens {
    grid-template-columns: 65% 35%;
    width: 80vw;
    margin: 0 auto;
  }

  #chart_div {
    width: 325px;
  }

  .references {
    width: 70vw;
  }

}

@media only screen and (max-width: 640px) {
  
  .main-nav {
    display: inline-block;
  }

  .main-nav img {
    width: 285px;
    padding-top: 8px;
  }

  .welcome {
    width: 80vw;
  }

  .card {
    grid-template-columns: 50% 50%;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .character-screens {
    display: block;
    width: 80vw;
    margin: 0 auto;
  }

  .sidebar {
    margin-top: var(--spacing-four);
  }

  .modal-content{
    width: 325px;
  }

  #chart_div {
    width: 325px;
  }

  .inline-images {
    display: block;
    padding-bottom: var(--spacing-two);
  }

  .sidebar ul li:before {
    left: -24px;
  }

}